body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid #000;
}

footer > p{
  margin: 0;
}

main > h1{
  border-bottom: thick  solid #000;
  width : 700px;
}

h1 > span{
  display: block;
  color: grey;
  font-style: italic;
}

a{
  font-weight: bold;
  text-decoration: none;
}

nav >ul{
  border-bottom: 1px solid #000;

}
img{
  height: 1em;
  weight: auto;

}